# We would like to confirm that more of their resources are dedicated to their customer facing products as the day goes on

### To do this we will have to compare total resource use, by total resources dedicated to their services

It is important for us to take care when adding these that we calculate resources correctly. We will want to look at something like this for every timestamp, for every server, for ever service instance, calculate total resource Util.

In [5]:
import pandas as pd
import numpy as np

In [6]:
service_containers = pd.read_csv("/home/codyblakeney/private/personal_repo/gc_project/data/container_event.csv")

In [7]:
service_instances = pd.read_csv("/home/codyblakeney/private/personal_repo/gc_project/data/container_usage.csv")

In [19]:
ids_at_39600 = np.array(service_instances[service_instances.ts == 39600].instance_id)

In [26]:
service_containers[service_containers.instance_id == ids_at_39600[0]]

,ts,event,instance_id,machine_id,plan_cpu,plan_mem,plan_disk,cpuset,Unnamed: 8
1428,0,Create,117,823,4,0.042409,0.034085,40|41|42|43,NaN