In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("/home/garrett/gc_project/data/server_usage.csv")

In [5]:
(df.util_CPU).head()

0    23.38
1    26.36
2    49.14
3    33.24
4    45.72
Name: util_CPU, dtype: float64

In [7]:
max(df["util_CPU"])

89.719999694820004

In [11]:
print(df.util_CPU.head(),"\n", df["load1"].head(),"\n", df.load5.head(),'\n', df.load15.head())

0    23.38
1    26.36
2    49.14
3    33.24
4    45.72
Name: util_CPU, dtype: float64
 0    15.82
1    17.46
2    33.20
3    21.84
4    34.10
Name: load1, dtype: float64
 0    13.860000
1    18.900000
2    31.220000
3    22.100000
4    36.239999
Name: load5, dtype: float64
 0    12.64
1    16.70
2    30.52
3    24.02
4    36.92
Name: load15, dtype: float64

In [12]:
df[df.util_CPU < df.load1].head()

,timestamp,machineID,util_CPU,util_mem,util_disk,load1,load5,load15
10,40800,47,41.220000,50.24,57.200001,55.099999,62.180000,60.200000
14,41400,903,55.539999,53.88,41.299999,60.000001,57.360000,55.280001
31,39600,695,66.700000,76.18,42.200001,82.859999,81.679999,74.539999
35,41400,901,59.139999,55.78,41.400002,67.819999,61.380000,60.280000
71,41100,769,35.060000,52.20,41.900002,40.140000,31.659999,24.540000