In [2]:
import pandas as pd
import numpy as np

In [3]:
service_containers = pd.read_csv("/Users/codyblakeney/gc_project/data/container_event.csv", name=["ts", "event", "instance_id", "plan_cpu", "plan_mem", "plan_disk", "cpuset"]))

In [4]:
service_containers.head()

,0,Create,10000,934,4,0.042409339165997983,0.0340851218221338,40|41|42|43,Unnamed: 8
0,0,Create,1000,1295,8,0.084819,0.056809,56|57|58|59|60|61|62|63,NaN
1,0,Create,10001,668,8,0.084819,0.056809,24|25|26|27|28|29|30|31,NaN
2,0,Create,10002,1217,8,0.084819,0.056809,4|5|6|7|8|9|10|11,NaN
3,0,Create,10003,1019,4,0.042409,0.034085,36|37|38|39,NaN
4,0,Create,10004,872,4,0.042409,0.034085,36|37|38|39,NaN